.bg-image{
  background-image: url("./images/Free.jpg");
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.bio-container{
  display: flex;
  max-width: 1600px;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 8vw 1vw;

  .left{
    flex:1;
    p{
      color: $white;
      text-align: justify;
      margin-top: 200px;
      @media (max-width: 415px){
        margin-top: 100px;
        font-size: 12px;
      }
    }
  }
  .right {
    flex: 2;
  }
  @media (max-width: 1000px){
    .right{
      flex: 1;
    }
  }
  @media  (max-width: 600px){
    .right{
      display: none;
    }
  }
}
.page-footer{
  p{
    position: absolute;
    opacity: .2;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    a{
      text-decoration: none;
    }

  }
}
