
#section-contact-forms .contact-container {
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding:7vw 1vw;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  @media(max-width: 500px){
    padding-top: 50px;
  }

  .contact-info {
    p {
      font-size: 1.3rem;
      font-family: $font-secondary;
    }
  }


  .forms{
    .one-row {
      display: flex;
      flex-flow: row wrap;

      .one-half {
        flex: 1;
        margin: 10px 0px;
      }
      .first{
        margin-right: 30px;
        @media (max-width: 1500px){
          margin-right: 0px;
          flex: 1;
        }
      }
   }
    input {
      min-width: 100%;
      border-radius: 0;
      border-color: #44C5E6;
      font-family: $font-secondary;
      padding: .3vw;
    }
    .wpcf7-textarea{
      border-radius: 0;
      border-color: #44C5E6;
      padding: .3vw;
      font-family: $font-secondary;

    }
  #wpcf7-f99-o1 > form > div:nth-child(3) > span > input{
    margin-top: 10px;
  }
    #wpcf7-f99-o1 > form > div:nth-child(3) > div > p:nth-child(1){
          margin: 0 0 !important;
    }
    .wpcf7-submit {
      background-color: #fff;
      font-size: 1.5rem;
      border: none;
      width: 10vw;
      font-family: $font-secondary;
      padding: .6vw;
      outline: none;
    }
    .wpcf7-submit:hover{
      background-color: #44C5E6;
    }
  }
}
.page-footer{
  p{
    position: sticky;
    opacity: .2;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    a{
      text-decoration: none;
    }
  }
}

#section-contact-forms > div > div.contact-info.flex1 > p:nth-child(3){
  margin-top: 150px;
  @media (max-width: 600px){
    margin-top: 40px;
  }
}
