.contact{
  .image-bg{
    background-image: url("./images/image-bg.png");
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    .contact-container{
    //  margin: 250px 100px;
    }
  }
}

#section-contact-forms .container {
  color: white;
  margin: 0;
  //padding: 0 auto;

  h2 {
    margin-top: 40px;
    @media (max-width: 600px){
      margin-top: 20px;
    }
  }
  .contact-info {
    i {
      font-size: 2rem;
    }

    p {
      font-size: 2rem;
      font-family: $font-secondary;
    }
  }

  .one-row {
    display: flex;
    flex-flow: row wrap;

    .one-half {
      flex: 1;
      margin: 10px 0px;
    }
    .first{
      margin-right: 30px;
      @media (max-width: 1100px){
        margin-right: 0px;
        flex: 1;
      }
    }
 }
  .forms input {
    //margin: 4px;
    min-width: 100%;
    border-radius: 0;
    border-color: #44C5E6;
    font-family: $font-secondary;
    padding: .6vw;
  }
  .wpcf7-textarea{
    border-radius: 0;
    border-color: #44C5E6;
    padding: .6vw;
    font-family: $font-secondary;

  }
#wpcf7-f99-o1 > form > div:nth-child(3) > span > input{
  margin-top: 10px;
}
  #wpcf7-f99-o1 > form > div:nth-child(3) > div > p:nth-child(1){
        margin: 0 0 !important;
  }
  .wpcf7-submit {
    background-color: #fff;
    font-size: 1.5rem;
    border: none;
    width: 10vw;
    font-family: $font-secondary;
    padding: 1vw;
    outline: none;
    @media screen and (max-width: 600px){
      width: 27vw;
      border-radius: 30px;
    }
  }
  .wpcf7-submit:hover{
    background-color: #44C5E6;
  }
}
