.background{
  //background-image: url("./images/image-bg.png");
  .portfolio-container{
    h2{
      margin: 3vw 0 !important;
      @media  (max-width: 450px){
        font-size: 20px;
      }
    }
    .photo-container, .video-container{
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      max-width: 1200px;
      padding-top: 2vw;
      padding-bottom: 2vw;
      text-align: center;
      @media(max-width: 767px){
        width: 85%;
      }
    }
  }
}
