#masthead{
  height: auto;
  display: flex;
}

.nav-middle{
  flex: 1;
  padding: 5.5vw 0vw 5.5vw 15vw;
  text-align: center;
  a{
    color: $white;
    text-decoration: none;
    font-size: 1.8vw;
    padding: 0 5%;
  }
  @media screen and (max-width: 600px){
    padding: 5.5vw 0vw 5.5vw 0vw;
    a{
      color: $white;
      text-decoration: none;
      font-size: 3vw;
      padding: 0 1%;
    }
  }
}

.nav-right{
  a{
      padding: 0 10px 0 0;
      font-size: 3vw;
      color: $white;
  }
  padding: 5vw 5vw 5vw 0;
}
